<!DOCTYPE html>
<html lang='ru'>
  <%= render 'admin/shared/head' %>

  <body>
    <%= render 'admin/shared/navbar' %>

    <div class='container'>
      <div class='row'>
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>

    <%= render 'shared/javascripts' %>
  </body>
</html>
