<!DOCTYPE html>
<html lang='ru'>
  <%= render 'shared/head' %>

  <body>
    <div class='container'>
      <div class='row'>
        <%= render 'shared/navbar' %>

        <% if content_for?(:sidebar) %>
          <%= render 'shared/with_sidebar' %>
        <% else %>
          <%= render 'shared/without_sidebar' %>
        <% end %>
      </div>

      <%= render 'shared/footer' %>
   </div>

   <%= render 'shared/javascripts' %>
  </body>
</html>
