<!DOCTYPE html>
<html lang='ru'>
  <%= render 'shared/head' %>

  <body>
    <div class='container'>
      <div class='row'>
        <%= render 'shared/navbar' %>
        <%= render 'shared/sidebar' %>

        <div class='span9'>
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>

      <%= render 'shared/footer' %>
   </div>

   <%= render 'shared/javascripts' %>
  </body>
</html>
